<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CreateRoomActivity" />
        <activity android:name=".CreateOrJoinRoomActivity" />
        <activity 
            android:name=".DualPlayGameScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".PracticeMenuActivity" />
        <activity android:name=".LandingActivity" />
        <activity 
            android:name=".GameScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>